.month-table {
  direction: rtl;
}

td {
  text-align: center;
}

td:hover {
  background-color: lightblue;
}

td.active {
  font-weight: bold;
  cursor: pointer;
}

td.today {
  background-color: gray;
  border-radius: 50%;
}

td.disable {
  color: gray;
}

td.chooseDay {
  background-color: aqua;
}

td.startDay {
  border-radius: 0 50% 50% 0;
}

td.endDay {
  border-radius: 50% 0 0 50%;
}

td.selectedDay {
  background-color: aquamarine;
}
